<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <link href="/css/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_container">
    <div id="templatemo_top_panel">
        <div id="templatemo_language_section">
            <a href="#"><img src="/images/templatemo_flag_01.gif" alt="flag 1" /></a>
            <a href="#"><img src="/images/templatemo_flag_02.gif" alt="flag 2" /></a>
            <a href="#"><img src="/images/templatemo_flag_03.gif" alt="flag 3" /></a>
        </div>
        <div id="templatemo_shopping_cart">
            Shopping Cart <span>(<a href="#">0 items</a>)</span>
        </div>
    </div>

    <div id="templatemo_header">
        <img src="/images/templatemo_site_header.jpg" alt="Flower Shop" />
    </div>

    <div id="templatemo_menu_panel">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/about" class="current">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </div>

    <div id="templatemo_content">
        <div id="templatemo_content_left">
            <h1>Gioi Thieu Ve <%= info.name %></h1>
            <p><strong>Thanh lap nam:</strong> <%= info.established %></p>
            <p><strong>Mo ta:</strong> <%= info.description %></p>
            <p><strong>Dia chi:</strong> <%= info.address %></p>
            <p><strong>Dien thoai:</strong> <%= info.phone %></p>
            <p>Chung toi la cua hang hoa tuoi hang dau tai TP.HCM voi hon 5 nam kinh nghiem phuc vu khach hang.</p>

            <div class="cleaner_with_height">&nbsp;</div>

            <h2>Tai Sao Chon Chung Toi</h2>
            <p>- Hoa tuoi 100% nhap moi ngay</p>
            <p>- Giao hang nhanh trong 2 gio</p>
            <p>- Doi ngu thiet ke chuyen nghiep</p>
            <p>- Gia ca canh tranh nhat thi truong</p>
        </div>

        <div id="templatemo_content_right">
            <div class="templatemo_right_section">
                <h4>Thong Tin Lien He</h4>
                <div class="templatemo_right_section_content">
                    <p>Email: info@flowershop.vn</p>
                    <p>Phone: 0901234567</p>
                    <p>Gio lam viec: 8:00 - 21:00</p>
                </div>
            </div>
        </div>

        <div class="cleaner">&nbsp;</div>
    </div>

    <div id="templatemo_footer_panel">
        <div id="footer_left">
            <img src="/images/mastercard.gif" alt="Master Card" />
            <img src="/images/visa.gif" alt="Visa Card" />
            <img src="/images/paypal.gif" alt="PayPal" />
        </div>
        <div id="footer_right">
            Copyright &copy; 2026 Flower Shop
        </div>
        <div class="cleaner">&nbsp;</div>
    </div>
</div>
</body>
</html>
